<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="pico.min.css">
    <script src="htmx.min.js"></script>
    <title>URL shortener</title>
</head>

<body>
    <main class="container-fluid">
      <nav>
        <ul><li><strong>Link shortener</strong></li></ul>
        <ul>
           
            <li>
                <details class="dropdown">
                    <summary>
                        Account
                    </summary>
                    <ul dir="rtl">
                        <li><a href="">Profile</a></li>
                        <li><a href="">Settings</a></li>
                        <li><a href="">Security</a></li>
                        <li><a href="">Logout</a></li>
                    </ul>
                </details>
            </li>
        </ul>
      </nav>

        <section class="container">

            <form action="">
                <fieldset role="group">
                    <input type="text" name="" id="">
                    <button type="submit">Shorten</button>
                </fieldset>
            </form>

            <div>
                <input type="text">
                <button>copy</button>
            </div>
        </section>
    </main>
    <footer class="container-fluid">
     <small>footer</small>
    </footer>
</body>

</html>